@import 'palette.css';

/* color variables
    --heliotrope: #D766F1ff;
    --smoky-black: #211B06ff;
    --majorelle-blue: #674FF9ff;
    --dark-purple: #2D152Cff;
    --light-coral: #F0686Aff;
*/

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/webfonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: extra-bold;
    font-style: normal;
    font-display: swap;
}



body{
    /* background: url('../assets/png/background.png') no-repeat center center fixed; */
    background-size: cover;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
    color: var(--white);
    text-align: center;
}

h1 {
    font-size: 5em;
}

.background-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}